* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*****MOBILE STATE******/
.desktopview {
	display: none;
}

#mainsection {
	min-height: 100vh;
	margin-bottom: -75px;
}

#footerleft {
	display: none;
}

footer {
	background-color: black;
	height: 75px;
	color: white;
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

#footerright {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 75px;
	width: 100vw;
}

#footerright i {
	font-size: 40px;
	cursor: pointer;
	transition: 0.2s ease-in-out;

}

#footerright i:hover {
	color: #D21930

}

/*FOOTER*/

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	background-color: black;
}

header .mobileview img {
	width: 90vw;
	height: 60px;
}

/***MAIN BODY***/

.banner {
	background-image: url("../images/img_0.jpg");
	background-size: cover;
	height: 85vh;

}

main .mobileview ul li {
	padding: 10px 0px;
	text-align: center;
	margin: 10px 0px;
	background-color: #D21930;
}

main .mobileview ul li a {
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
}

.mobileview .banner-text {
	height: 40vh;
	display: flex;
	color: antiquewhite;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
}

.mobileview .banner-text h1 {
	font-size: 3.5rem;
	margin-bottom: 5vh;
}

.mobileview .banner-text p {
	text-align: center;
	font-size: 2.5rem;
	text-transform: capitalize;
}

@media screen and (min-width:500px) {

	/* desktop state */
	.mobileview {
		display: none;
	}

	.desktopview {
		display: block;
	}
/* footer */

	#footerleft {
		display: flex;
		align-items: flex-end;
		margin-left: 5px;
		margin-bottom: 10px;
		color: white;
	}

	#footerright {
		width: 30vw;
	}

	/**********HEADER************/

	header {
		display: block;
		width: 100vw;
		height: 100px;
		background-color: black;
	}

	.warning {
		height: 25px;
		color: white;
		font-size: 14px;
		text-align: center;
		padding: 0.5em;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;

	}

	#navleft {
		margin-left: 4rem;
	}
	#navleft img {
		width: 200px;
		height: 40px;
	}

	#navright {
		margin-right: 4rem;

	}

	#navright img {
		width: 130px;
		height: 35px;
	}

	#navmiddle {
		display: flex;
	}

	nav ul li a {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}

	nav ul li {
		background-color: #D21930;
		margin: 0px 2rem;
		padding: 8px 15px;
		border-radius: 10px;
		min-width: 100px;
		text-align: center;
		list-style-type: none;
		transition: 0.2s ease-in-out;
	}

	nav ul li:hover {
		transform: scale(1.1);
	}

	/* body */

	#banner-promo {
		position: relative;
		display: block;
		top: 100px;
		left: 65vw;
		width: 375px;
		height: 250px;
		border: 1px solid black;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		transition: 0.2s ease-in-out;
		cursor: pointer;
	}

	#banner-promo:hover {
		transform: scale(1.03);
		box-shadow: 0px 5px 18px 5px black;



	}

	.banner-text {
		position: relative;
		display: inline-block;
		width: 375px;
		top: 200px;
		left: 65vw;
		text-align: center;
		color: #D21930;

	}

	.banner-text h1 {
		font-size: 2em;

	}

	.banner-text p {
		font-size: 1.25em;
		text-transform: capitalize;
	}

	.order {
		position: relative;
		width: 600px;
		top: 250px;
		margin: auto;
		border: 1px solid black;
		background-color: white;
		box-shadow: 0px 10px 8px 5px rgba(0, 0, 0, 0.4);
		font-size: 15px;
		padding: 1em;

	}

	.order h1 {
		color: #D21930;
		margin-bottom: 0.5em;

	}

	.order h2, p {
		line-height: 1.5em;
		margin-bottom: 0.5em;

	}
	.order form {
		border: 1px solid black;
		width: 100%;
		padding: 1em 0;
	
	}

	.order form input {
		width: 60%;
		border: 1px solid black;
		border-radius: 5px 0px 0px 5px;
		margin-left: 10px;
		margin-right: 0px;

	}

	.order form input::placeholder {
		font-weight: bold;
		color: lightgray;
	}

	.order button {
		background-color: green;
		color: white;
		border: none;
		border-radius: 0px 5px 5px 0px;
		margin: none;
		cursor: pointer;
	}

	.order form input, button {
		padding: 1em;
		font-weight: bold;
	}
}


